/*
    Desc: Layout for the levels section of the dashboard
*/

.levels {
    grid-area: 2 / 2 / span 16 / span 5;
    display: flex;
    flex-direction: column;
    // width: 20vw; //temp
    padding: 20px;

    .skill {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        h4 {
            margin: 0;
        }
    }
}