/*
    Desc: Layout for the navigation bar
*/

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .navigation-option {
        text-align: center;
    }

    hr {
        width: 50%;
    }

    .link {
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;

        div {
            align-self: center;
        }
    }
}