/*
    Author: Julien Savoie
*/
/*
    # Variables
*/
/*
    Author: Julien Savoie
*/
/*
    # Layout
*/
/*
    Desc: Layout for the app
*/
.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.App .navigation {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 20%;
          flex: 1 0 20%;
}

.App .dashboard {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 80%;
          flex: 1 0 80%;
}

.App .header {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

/*
    Desc: Layout for the header
*/
.topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100px;
  max-width: 100vw;
}

.topbar .topbar-logo {
  height: 100%;
  -ms-flex-preferred-size: fill;
      flex-basis: fill;
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar .topbar-logo img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.topbar .search {
  height: 100%;
  -ms-flex-preferred-size: fill;
      flex-basis: fill;
  width: 75vw;
}

.topbar .search .search-input {
  height: 100%;
  width: 80%;
  padding: 0;
}

.topbar .search .search-enter {
  height: 70%;
  width: 20%;
  padding: 0;
}

.topbar .topbar-acctype {
  height: 100%;
  -ms-flex-preferred-size: fill;
      flex-basis: fill;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topbar .topbar-acctype .acctype {
  width: 100%;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.topbar .topbar-acctype .acctype .accType-select {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 50%;
}

/*
    Desc: Layout for the navigation bar
*/
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation hr {
  width: 50%;
}

.navigation .link {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*
    Desc: Layout for the dashboard
*/
.dashboard {
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[18];
      grid-template-columns: repeat(18, 1fr);
  -ms-grid-rows: (1fr)[18];
      grid-template-rows: repeat(18, 1fr);
}

/*
    Desc: Layout for the levels section of the dashboard
*/
.levels {
  -ms-grid-row: 2;
  -ms-grid-row-span: 16;
  -ms-grid-column: 2;
  -ms-grid-column-span: 5;
  grid-area: 2 / 2 / span 16 / span 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.levels .skill {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.levels .skill h4 {
  margin: 0;
}

/*
    Desc: Layout for the graph of the dashboard
*/
.dashboard_graph {
  -ms-grid-row: 2;
  -ms-grid-row-span: 9;
  -ms-grid-column: 8;
  -ms-grid-column-span: 10;
  grid-area: 2 / 8 / span 9 / span 10;
  padding: 20px;
}

/*
    # Styling
*/
/*
    Desc: Styling for the header
*/
.topbar {
  background-color: #FFFFFF;
}

.topbar .search .search-input {
  border: none;
  font-size: 2.5em;
  outline: none;
}

.topbar .search .search-enter {
  border: none;
  font-size: 2.5em;
  outline: none;
  color: #2b2f8e;
  background-color: #2b2f8e;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.topbar .search .search-enter:hover {
  background-color: #5459cb;
}

/*
    Desc: Styling for the navigation bar
*/
.navigation hr {
  border: 1px solid black;
}

/*
    Desc: Styling for the dashboard
*/
.dashboard {
  background-color: #ededed;
}

/*
    Desc: Styling for the levels section of the dashboard
*/
.levels {
  -webkit-box-shadow: 0px 0px 6px 1px #e6e6e6;
          box-shadow: 0px 0px 6px 1px #e6e6e6;
  border-radius: 50px;
  background-color: #FFF;
}

.dashboard_graph {
  -webkit-box-shadow: 0px 0px 6px 1px #e6e6e6;
          box-shadow: 0px 0px 6px 1px #e6e6e6;
  border-radius: 50px;
  background-color: #FFF;
}
/*# sourceMappingURL=style.css.map */