/*
    Desc: Styling for the navigation bar
*/

.navigation {

    .navigation-option {

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    .navigation-active {
        background-color: $blue;
        color: $white;
    }

    hr {
        border: 1px solid $black;
    }
}